#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.pin_image
				= image_tag @pin.image.url
			.panel-body
				%h1= @pin.title
				%p.description= @pin.description
			.panel-footer
				.row
					.col-md-6
						%p.user
						Enviado por
						= @pin.user.email
					.col-md-6
						.btn-group.pull.right
							= link_to "Editar", edit_pin_path, class: "btn btn-default"
							= link_to "Deletar", pin_path, method: :delete, data: { confirm: "Tem certeza que deseja deletar?"}, class: "btn btn-default"
