%h1= @pin.title
%p= @pin.description
%p
Enviado por
= @pin.user.email

%br/

= link_to "Voltar", root_path
= link_to "Editar", edit_pin_path
= link_to "Deletar", pin_path, method: :delete, data: { confirm: "Tem certeza que deseja deletar?"}
